@namespace Uwn.Razor.Components.Common.Links
@using Uwn.Razor.Models.ViewModels.Common.Links
@inherits UwnComponentWithRouteBase<EditLinkViewModel>

@if (ViewModel.IsVisible)
{
	<a id="@ViewModel.Id" class="@ViewModel.AdditionalClassNames" href="@ViewModel.RouteWithId">
		@if (IsFontAwesomeAvailable)
		{
			@FragmentProvider.BuildFontAwesomeFragment(IconNames.ActionEdit, "me-1")
		}
		@if (string.IsNullOrEmpty(ViewModel.Content))
		{
			<span>@GetTranslation("EditCommand")</span>
		}
		else
		{
			<span>@ViewModel.Content</span>
		}
	</a>
}

@code {
	[Parameter] public string? Content { get; set; }

	protected override EditLinkViewModel BuildViewModelFromParameters()
		=> new()
		{
			Content = Content
		};
}