@namespace Uwn.Razor.Components.Common.Links
@using Uwn.Razor.Models.ViewModels.Common.Links
@inherits UwnComponentWithRouteBase<GoBackLinkViewModel>

@if (ViewModel.IsVisible)
{
	<p>
		<a id="@ViewModel.Id" class="@ViewModel.AdditionalClassNames" href="@ViewModel.RouteWithId">
			@if (IsFontAwesomeAvailable)
			{
				var icon = ViewModel.Content?.Icon ?? IconNames.ActionBack;
				@FragmentProvider.BuildFontAwesomeFragment(icon, "me-1")
			}
			@if (ViewModel.Content?.Text is null)
			{
				<span>@GetTranslation("GoBackCommand")</span>
			}
			else
			{
				<span>@ViewModel.Content.Text</span>
			}
		</a>
	</p>
}

@code {
	[Parameter] public string? Content { get; set; }

	protected override GoBackLinkViewModel BuildViewModelFromParameters()
		=> new()
		{
			Content = Content
		};
}