@attribute [Route(RouteStrings.ModelsContent)]
@namespace Uwn.Razor.Demo.Models

<ModelDescriptionContainer IsViewModel="false"
						   Namespace="Uwn.Razor.Models" />

<Table Purpose="TablePurpose.Editor">
	<TableHead>
		<ModelPropertiesHeaderRow />
	</TableHead>
	<TableBody>
		<ModelPropertyRow PropertyName="Icon"
						  PropertyType="@typeof(String)"
						  Description="Defines the icon for the Component." />
		<ModelPropertyRow PropertyName="Text"
						  PropertyType="@typeof(String)"
						  Description="Defines the text for the Component." />
	</TableBody>
</Table>

<h4>Constructors</h4>
<CodeContainer Language="@Language.CSharp">
// Creates a new instance
public Content() { ... }

// Creates a new instance and sets the text
public Content(string? text) { ... }

// Creates a new instance and sets icon and text
public Content(string? icon, string? text) { ... }
</CodeContainer>

<h4>Implicit Conversions</h4>
<CodeContainer Language="@Language.CSharp">
// Creates a new instance from a String
public static implicit operator Content(string? text) { ... }
</CodeContainer>

<h4>Methods</h4>
<CodeContainer Language="@Language.CSharp">
// Creates a String representation
public override string ToString() { ... }
</CodeContainer>