@namespace Uwn.Razor.Components.Bootstrap.Links
@using Uwn.Razor.Models.ViewModels.Bootstrap.Links
@inherits UwnComponentWithRouteBase<AddNewButtonViewModel>

@if (ViewModel.IsVisible)
{
	if (IsBootstrapAvailable)
	{
		<a id="@ViewModel.Id" class="btn btn-primary @ViewModel.AdditionalClassNames" href="@ViewModel.RouteWithId">
			@ElementContent
		</a>
	}
	else
	{
		<button id="@ViewModel.Id" class="@ViewModel.AdditionalClassNames" onclick="window.location.href='@ViewModel.RouteWithId'">
			@ElementContent
		</button>
	}
}

@code {
	[Parameter] public Content? Content { get; set; }

	protected RenderFragment ElementContent
		=> builder =>
		{
			if (string.IsNullOrEmpty(Content?.Icon))
				builder.AddContent(0, FragmentProvider.BuildFontAwesomeFragment(IconNames.ActionNew, "me-1"));
			else
				builder.AddContent(0, FragmentProvider.BuildFontAwesomeFragment(Content.Icon, "me-1"));
			builder.OpenElement(1, "span");
			if (string.IsNullOrEmpty(Content?.Text))
				builder.AddContent(2, GetTranslation("AddNewCommand"));
			else
				builder.AddContent(2, Content.Text);
			builder.CloseElement();
		};

	protected override AddNewButtonViewModel BuildViewModelFromParameters()
		=> new()
		{
			Content = Content
		};
}
