@namespace Uwn.Razor.Components.Bootstrap.Cards
@using Uwn.Razor.Models.ViewModels.Bootstrap.Cards
@using Uwn.Razor.Components.Bootstrap.Links
@inherits UwnComponentBase<CardViewModel>

@if (IsVisible)
{
	<div id="@ViewModel.Id" class="@BuildClassNames()" style="@BuildStyles()">
		@if (ViewModel.Header is not null)
		{
			<div class="@BuildHeaderClassNames()">
				@if (ViewModel.HeaderIcon is not null)
				{
					@FragmentProvider.BuildFontAwesomeFragment(ViewModel.HeaderIcon, "me-1")
				}
				<span>@ViewModel.Header</span>
			</div>
		}
		<div class="card-body">
			@if (ViewModel.Title is not null)
			{
				<h5 class="@BuildTitleClassNames()">
					@if (ViewModel.TitleIcon is not null)
					{
						@FragmentProvider.BuildFontAwesomeFragment(ViewModel.TitleIcon, "fa-lg me-1")
					}
					<span>@ViewModel.Title</span>
				</h5>
			}
			@if (ViewModel.SubTitle is not null)
			{
				<h6 class="card-subtitle mb-2 text-body-secondary">@ViewModel.SubTitle</h6>
			}
			<p class="card-text">
				@FragmentProvider.BuildFormattedContent(ViewModel.Content)
			</p>
			<Hyperlink Link="ViewModel.BodyLink" AdditionalClassNames="card-link" />
		</div>
		@if (ViewModel.FooterText is not null || ViewModel.FooterLink is not null)
		{
			<div class="card-footer">
				@if (ViewModel.FooterText is not null)
				{
					<span>@FragmentProvider.BuildFormattedContent(ViewModel.FooterText)</span>
				}
				@if (ViewModel.FooterLink is not null)
				{
					<Hyperlink Link="ViewModel.FooterLink" />
				}
			</div>
		}
	</div>
}

@code {
	[Parameter] public string? HeaderIcon { get; set; }
	[Parameter] public string? Header { get; set; }
	[Parameter] public string? TitleIcon { get; set; }
	[Parameter] public string? Title { get; set; }
	[Parameter] public string? SubTitle { get; set; }
	[Parameter] public string? Content { get; set; }
	[Parameter] public Link? BodyLink { get; set; }
	[Parameter] public string? FooterText { get; set; }
	[Parameter] public Link? FooterLink { get; set; }
	[Parameter] public WidthDefinition? Width { get; set; }
	[Parameter] public Appearance Appearance { get; set; } = new();

	protected override CardViewModel BuildViewModelFromParameters()
		=> new()
		{
			Appearance = Appearance,
			BodyLink = BodyLink,
			Content = Content,
			FooterLink = FooterLink,
			FooterText = FooterText,
			Header = Header,
			HeaderIcon = HeaderIcon,
			SubTitle = SubTitle,
			Title = Title,
			TitleIcon = TitleIcon,
			Width = Width
		};

	protected string BuildClassNames()
	{
		var builder = new StringBuilder();
		builder.Append("card" + " ");
		builder.Append("m-2" + " ");
		builder.Append(AdditionalClassNames + " ");
		ViewModel.Appearance.AppendClassNames(StyleUsages.Border, builder);
		return builder.ToString().Trim();
	}

	protected string BuildHeaderClassNames()
	{
		var builder = new StringBuilder();
		builder.Append("card-header" + " ");
		ViewModel.Appearance.AppendClassNames(StyleUsages.TextBackground, builder, false);
		return builder.ToString().Trim();
	}

	protected string BuildTitleClassNames()
	{
		var builder = new StringBuilder();
		builder.Append("card-title" + " ");
		ViewModel.Appearance.AppendClassNames(StyleUsages.Text, builder, false);
		return builder.ToString().Trim();
	}

	protected string BuildStyles()
	{
		var builder = new StringBuilder();
		if (ViewModel.Width is not null)
			builder.Append(ViewModel.Width.GetCssStyle());
		return builder.ToString().Trim();
	}
}
