@namespace Uwn.Razor.Components.Bootstrap.Cards
@using Uwn.Razor.Models.ViewModels.Bootstrap.Cards
@using Uwn.Razor.Components.Bootstrap.Links
@inherits UwnComponentBase<CardViewModel>

@if (ViewModel.IsVisible)
{
	<div id="@ViewModel.Id" class="@BuildClassNames()" style="@BuildStyles()">
		@if (ViewModel.Header is not null)
		{
			<div class="@BuildHeaderClassNames()">
				<TextWithIcon Content="ViewModel.Header" />
			</div>
		}
		<div class="card-body">
			@if (ViewModel.Title is not null)
			{
				<h5 class="@BuildTitleClassNames()">
					<TextWithIcon Content="ViewModel.Title" />
				</h5>
			}
			@if (ViewModel.SubTitle is not null)
			{
				<h6 class="card-subtitle mb-2 text-body-secondary">
					<TextWithIcon Content="ViewModel.SubTitle" />
				</h6>
			}
			<div class="card-text">
				<TextWithIconAndLink Content="ViewModel.Content" Link="ViewModel.BodyLink" />
			</div>
		</div>
		@if (ViewModel.Footer is not null)
		{
			<div class="card-footer">
				<TextWithIconAndLink Content="ViewModel.Footer" Link="ViewModel.Footer.Link" />
			</div>
		}
	</div>
}

@code {
	[Parameter] public Content? Header { get; set; }
	[Parameter] public Content? Title { get; set; }
	[Parameter] public Content? SubTitle { get; set; }
	[Parameter] public Content? Content { get; set; }
	[Parameter] public Link? BodyLink { get; set; }
	[Parameter] public LinkContent? Footer { get; set; }
	[Parameter] public WidthDefinition? Width { get; set; }
	[Parameter] public Appearance Appearance { get; set; } = new();

	protected override CardViewModel BuildViewModelFromParameters()
		=> new()
		{
			Appearance = Appearance,
			BodyLink = BodyLink,
			Content = Content,
			Footer = Footer,
			Header = Header,
			SubTitle = SubTitle,
			Title = Title,
			Width = Width
		};

	protected string BuildClassNames()
	{
		var builder = new StringBuilder();
		builder.Append("card" + " ");
		builder.Append("m-2" + " ");
		builder.Append(AdditionalClassNames + " ");
		ViewModel.Appearance.AppendClassNames(StyleUsages.Border, builder);
		return builder.ToString().Trim();
	}

	protected string BuildHeaderClassNames()
	{
		var builder = new StringBuilder();
		builder.Append("card-header" + " ");
		ViewModel.Appearance.AppendClassNames(StyleUsages.TextBackground, builder, false);
		return builder.ToString().Trim();
	}

	protected string BuildTitleClassNames()
	{
		var builder = new StringBuilder();
		builder.Append("card-title" + " ");
		ViewModel.Appearance.AppendClassNames(StyleUsages.Text, builder, false);
		return builder.ToString().Trim();
	}

	protected string BuildStyles()
	{
		var builder = new StringBuilder();
		if (ViewModel.Width is not null)
			builder.Append(ViewModel.Width.GetCssStyle());
		return builder.ToString().Trim();
	}
}
