@attribute [Route(RouteStrings.ComponentsBootstrapAlert)]
@namespace Uwn.Razor.Demo.Components.Components.Bootstrap.Alerts
@inherits PageBase<AlertViewModel>

<DemoContainer>
	<CodeContainer Language="Language.HTML">
&#60;Alert AdditionalClassNames="@ViewModel.AdditionalClassNames"
       Appearance="@ViewModel.Appearance"
       Content="@ViewModel.Content"
       DismissOptions="@ViewModel.DismissOptions"
       Header="@ViewModel.Header"
       Id="@ViewModel.Id"
       IsVisible="@ViewModel.IsVisible"
       Position="@ViewModel.Position"
       Width="@ViewModel.Width" /&#62;
	</CodeContainer>
	<Alert Model="ViewModel" />
</DemoContainer>

<ComponentDescriptionContainer Description="A configurable Alert"
							   Namespace="Uwn.Razor.Components.Bootstrap.Alerts"
							   Inherits="UwnComponentBase" />

<Table Purpose="TablePurpose.Editor">
	<TableHead>
		<PropertiesHeaderRow />
	</TableHead>
	<TableBody>
		<AdditionalClassNamesRow @bind-Value="ViewModel.AdditionalClassNames" />
		<AppearanceEditorRow @bind-Value="ViewModel.Appearance" />
		<ContentEditorRow @bind-Value="ViewModel.Content" />
		<DismissOptionsEditorRow @bind-Value="ViewModel.DismissOptions" />
		<HeaderEditorRow @bind-Value="ViewModel.Header" />
		<IdRow @bind-Value="ViewModel.Id" />
		<IsVisibleRow @bind-Value="ViewModel.IsVisible" />
		<PositionRow @bind-Value="ViewModel.Position" />
		<WidthDefinitionEditorRow @bind-Value="ViewModel.Width" />
	</TableBody>
</Table>

@code {
	protected override void InitializeViewModel()
	{
		ViewModel.AdditionalClassNames = null;
		ViewModel.Appearance = new();
		ViewModel.Content = "Alert content";
		ViewModel.DismissOptions = new();
		ViewModel.Header = "Alert header";
		ViewModel.Id = null;
		ViewModel.IsVisible = true;
		ViewModel.Position = Position.None;
		ViewModel.Width = null;
	}
}