@namespace Uwn.Razor.Components.Bootstrap.Modals
@using Uwn.Razor.Models.ViewModels.Bootstrap.Modals
@inherits UwnComponentBase<ModalDialogViewModel>

@if (IsVisible)
{
	<div id="@ViewModel.Id" class="@BuildModalClassNames()" role="dialog" tabindex="-1" data-bs-backdrop="static" aria-labelledby="@ViewModel.Id-modal-label" aria-hidden="true">
		<div class="@BuildDialogClassNames()">
			<div class="modal-content">
				<div class="modal-header">
					<h5 id="RealViewModel.@Id-modal-label" class="modal-title">
						@if (ViewModel.TitleIcon is not null)
						{
							@FragmentProvider.BuildFontAwesomeFragment(ViewModel.TitleIcon, "me-1")
						}
						<span>@ViewModel.Title</span>
					</h5>
					<button type="button" class="btn-close" style="min-width: 0;" data-bs-dismiss="modal" aria-label="@GetTranslation("CloseCommand")" @onclick="@OnDismissedClickAsync" />
				</div>
				<div class="modal-body">
					@if (ViewModel.HtmlContent is not null)
					{
						<div>
							@((MarkupString)ViewModel.HtmlContent)
						</div>
					}
					@ViewModel.ChildContent
				</div>
				<div class="modal-footer">
					@if (ViewModel.HasOkCommand)
					{
						<button class="btn btn-success" type="button" data-bs-dismiss="modal" onclick="@OnOkCommandClickAsync">
							@FragmentProvider.BuildFontAwesomeFragment("fa-check", "me-1")
							<span>@GetTranslation("OkCommand")</span>
						</button>
					}
					<button class="@CloseButtonClass" type="button" data-bs-dismiss="modal" @onclick="@OnDismissedClickAsync">
						@FragmentProvider.BuildFontAwesomeFragment("fa-xmark", "me-1")
						<span>@CloseButtonText</span>
					</button>
				</div>
			</div>
		</div>
	</div>
}

@code {
	[Parameter] public RenderFragment? ChildContent { get; set; }
	[Parameter] public string? HtmlContent { get; set; }
	[Parameter] public ModalFullscreenMode FullscreenMode { get; set; } = ModalFullscreenMode.None;
	[Parameter] public bool IsAnimated { get; set; } = true;
	[Parameter] public bool IsCentered { get; set; } = true;
	[Parameter] public bool IsScrollable { get; set; } = true;
	[Parameter] public ModalSize Size { get; set; } = ModalSize.Default;
	[Parameter] public string? Title { get; set; }
	[Parameter] public string? TitleIcon { get; set; }
	[Parameter] public bool HasOkCommand { get; set; } = true;
	[Parameter] public EventCallback<string>? OnOkCommand { get; set; }
	[Parameter] public string OkCommandParameter { get; set; } = string.Empty;
	[Parameter] public EventCallback? OnDismissed { get; set; }

	protected string CloseButtonClass => ViewModel.HasOkCommand ? "btn btn-danger" : "btn btn-secondary";
	protected string CloseButtonText => ViewModel.HasOkCommand ? GetTranslation("CancelCommand") : GetTranslation("CloseCommand");

	protected override ModalDialogViewModel BuildViewModelFromParameters()
		=> new()
		{
			ChildContent = ChildContent,
			FullscreenMode = FullscreenMode,
			HasOkCommand = HasOkCommand,
			IsAnimated = IsAnimated,
			IsCentered = IsCentered,
			IsScrollable = IsScrollable,
			OkCommandParameter = OkCommandParameter,
			OnDismissed = OnDismissed,
			OnOkCommand = OnOkCommand,
			Size = Size,
			Title = Title,
			TitleIcon = TitleIcon
		};

	protected string BuildModalClassNames()
	{
		var builder = new StringBuilder();
		builder.Append("modal" + " ");
		if (ViewModel.IsAnimated) builder.Append("fade" + " ");
		builder.Append(AdditionalClassNames);
		return builder.ToString().Trim();
	}

	protected string BuildDialogClassNames()
	{
		var builder = new StringBuilder();
		builder.Append("modal-dialog" + " ");
		builder.Append(ModalFullscreenModeExtender.GetClassName(ViewModel.FullscreenMode));
		builder.Append(ModalSizeExtender.GetClassName(ViewModel.Size));
		if (ViewModel.IsCentered) builder.Append("modal-dialog-centered" + " ");
		if (ViewModel.IsScrollable) builder.Append("modal-dialog-scrollable" + " ");
		return builder.ToString().Trim();
	}

	protected async Task OnOkCommandClickAsync()
	{
		if (ViewModel.OnOkCommand is not null)
			await ViewModel.OnOkCommand.Value.InvokeAsync(ViewModel.OkCommandParameter);
	}

	protected async Task OnDismissedClickAsync()
	{
		if (ViewModel.OnDismissed is not null)
			await ViewModel.OnDismissed.Value.InvokeAsync();
	}
}
