@namespace Uwn.Razor.Components.Bootstrap.Toasts
@using Uwn.Razor.Models.ViewModels.Bootstrap.Toasts
@inherits UwnComponentBase<ToastViewModel>

@if (ViewModel.IsVisible)
{
	<div id="@ViewModel.Id" class="@BuildClassNames()" role="alert" data-bs-autohide="@AutoHideValue" data-bs-delay="@ViewModel.DismissOptions.Delay">
		@if (ViewModel.Header is not null || ViewModel.DismissOptions.HasCloseButton)
		{
			<div class="@BuildHeaderClassNames()">
				@if (ViewModel.Header is not null)
				{
					<strong class="me-auto">
						<TextWithIcon Content="ViewModel.Header" />
					</strong>
				}
				@if (ViewModel.DismissOptions.HasCloseButton)
				{
					<button type="button" class="btn-close" data-bs-dismiss="toast" />
				}
			</div>
		}
		<div class="toast-body">
			<p>
				<TextWithIcon Content="ViewModel.Content" />
			</p>
		</div>
	</div>
}

@code {
	[Parameter] public BS.Position Position { get; set; } = BS.Position.None;
	[Parameter] public Content? Header { get; set; }
	[Parameter] public Content? Content { get; set; }
	[Parameter] public string TriggerId { get; set; } = string.Empty;
	[Parameter] public Appearance Appearance { get; set; } = new();
	[Parameter] public DismissOptions DismissOptions { get; set; } = new(5000, true);

	protected string AutoHideValue => ViewModel.DismissOptions.Delay > 0 ? "true" : "false";

	protected override void OnParametersSet() => base.OnParametersSet();

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);
		if (!string.IsNullOrEmpty(ViewModel.TriggerId) &&
			//firstRender &&
			Capabilities is not null &&
			Capabilities.JsModule is not null)
			_ = Capabilities.JsModule.InvokeAsync<bool>("registerToastTrigger", [ViewModel.Id, ViewModel.TriggerId]);
	}

	protected override ToastViewModel BuildViewModelFromParameters()
		=> new()
		{
			Appearance = Appearance,
			Content = Content,
			DismissOptions = DismissOptions,
			Header = Header,
			Position = Position,
			TriggerId = TriggerId
		};

	protected string BuildClassNames()
	{
		var builder = new StringBuilder();
		builder.Append("toast" + " ");
		builder.Append("m-2" + " ");
		builder.Append(AdditionalClassNames + " ");
		ViewModel.Position.AppendClassNames(builder);
		ViewModel.Appearance.AppendClassNames(StyleUsages.Border, builder);
		return builder.ToString().Trim();
	}

	protected string BuildHeaderClassNames()
	{
		var builder = new StringBuilder();
		builder.Append("toast-header" + " ");
		ViewModel.Appearance.AppendClassNames(StyleUsages.TextBackground, builder, false);
		return builder.ToString().Trim();
	}
}