@namespace Uwn.Razor.Components.Bootstrap
@using Uwn.Razor.Models.ViewModels.Bootstrap
@inherits UwnComponentBase<WaitIndicatorViewModel>

@if (ViewModel.IsVisible)
{
	if (ViewModel.Fullscreen)
	{
		<div id="@ViewModel.Id" class="@ViewModel.AdditionalClassNames">
			@FragmentProvider.BuildFontAwesomeFragment("fa-gear fa-spin fa-2xl")
			@if (ViewModel.DisplayText)
			{
				<br />
				<span id="@ViewModel.Id-text">@GetTranslation("PleaseWaitMessage")</span>
			}
			@if (ViewModel.DisplayTime && ElapsedTimeSpan is not null)
			{
				<br />
				<span id="@ViewModel.Id-time">@ElapsedTimeSpan.Value.ToString("hh\\:mm\\:ss")</span>
			}
		</div>
	}
	else
	{
		<div id="@ViewModel.Id" class="d-flex align-items-center m-4 @ViewModel.AdditionalClassNames">
			@FragmentProvider.BuildFontAwesomeFragment("fa-gear fa-spin fa-lg")
			@if (ViewModel.DisplayText)
			{
				<i id="@ViewModel.Id-text" class="ms-2">@GetTranslation("PleaseWaitMessage")</i>
			}
			@if (ViewModel.DisplayTime && ElapsedTimeSpan is not null)
			{
				<i id="@ViewModel.Id-time" class="ms-2">(@ElapsedTimeSpan.Value.ToString("hh\\:mm\\:ss"))</i>
			}
		</div>
	}
}

@code {
	[Parameter] public bool Fullscreen { get; set; } = false;
	[Parameter] public bool DisplayTime { get; set; } = true;
	[Parameter] public bool DisplayText { get; set; } = true;
	[Parameter] public int MinimumBusyMilliseconds { get; set; } = 500;

	private System.Timers.Timer _timer = new System.Timers.Timer(1000);
	private DateTime _startTime = DateTime.MinValue;

	protected TimeSpan? ElapsedTimeSpan { get; set; }

	protected override void OnAfterRender(bool firstRender)
	{
		base.OnAfterRender(firstRender);
		if (firstRender)
		{
			_startTime = DateTime.Now;
			_timer.Elapsed += OnTimerElapsed;
			_timer.Start();
		}
	}

	protected void OnTimerElapsed(Object? sender, System.Timers.ElapsedEventArgs e)
	{
		ElapsedTimeSpan = DateTime.Now - _startTime;
		InvokeAsync(StateHasChanged);
	}

	protected override WaitIndicatorViewModel BuildViewModelFromParameters()
		=> new()
		{
			DisplayText = DisplayText,
			DisplayTime = DisplayTime,
			Fullscreen = Fullscreen,
			MinimumBusyMilliseconds = MinimumBusyMilliseconds
		};
}