@namespace Uwn.Razor.Components.Bootstrap.Cards
@using Uwn.Razor.Components.Bootstrap.Links
@inherits UwnComponentBase

@if (IsVisible)
{
	<div id="@Id" class="@BuildClassNames()" style="@BuildStyles()">
		@if (Header is not null)
		{
			<div class="@BuildHeaderClassNames()">
				@if (HeaderIcon is not null)
				{
					@BuildFontAwesomeElement(HeaderIcon)
					<span>&nbsp;</span>
				}
				<span>@Header</span>
			</div>
		}
		<div class="card-body">
			@if (Title is not null)
			{
				<h5 class="@BuildTitleClassNames()">
					@if (TitleIcon is not null)
					{
						@BuildFontAwesomeElement(TitleIcon, "fa-lg")
						<span>&nbsp;</span>
					}
					<span>@Title</span>
				</h5>
			}
			@if (SubTitle is not null)
			{
				<h6 class="card-subtitle mb-2 text-body-secondary">@SubTitle</h6>
			}
			<p class="card-text">
				@BuildFormattedContent(Text)
			</p>
			<Hyperlink Link="BodyLink" AdditionalClassNames="card-link" />
		</div>
		@if (FooterText is not null || FooterLink is not null)
		{
			<div class="card-footer">
				@if (FooterText is not null)
				{
					<span>@BuildFormattedContent(FooterText)</span>
				}
				@if (FooterLink is not null)
				{
					<Hyperlink Link="FooterLink" />
				}
			</div>
		}
	</div>
}

@code {
	[Parameter] public BS.Style Style { get; set; } = BS.Style.None;
	[Parameter] public string? HeaderIcon { get; set; }
	[Parameter] public string? Header { get; set; }
	[Parameter] public string? TitleIcon { get; set; }
	[Parameter] public string? Title { get; set; }
	[Parameter] public string? SubTitle { get; set; }
	[Parameter] public string Text { get; set; } = string.Empty;
	[Parameter] public Link? BodyLink { get; set; }
	[Parameter] public string? FooterText { get; set; }
	[Parameter] public Link? FooterLink { get; set; }
	[Parameter] public WidthDefinition? Width { get; set; }
	[Parameter] public bool DropShadow { get; set; } = false;

	protected string BuildClassNames()
	{
		var builder = new StringBuilder();
		builder.Append("card" + " ");
		builder.Append("m-2" + " ");
		builder.Append(AdditionalClassNames + " ");
		builder.Append(Style.GetBorderClassName() + " ");
		if (DropShadow) builder.Append("shadow" + " ");
		return builder.ToString().Trim();
	}

	protected string BuildHeaderClassNames()
	{
		var builder = new StringBuilder();
		builder.Append("card-header" + " ");
		builder.Append(Style.GetTextBackgroundClassName());
		return builder.ToString().Trim();
	}

	protected string BuildTitleClassNames()
	{
		var builder = new StringBuilder();
		builder.Append("card-title" + " ");
		builder.Append(Style.GetTextClassName());
		return builder.ToString().Trim();
	}

	protected string BuildStyles()
	{
		var builder = new StringBuilder();
		if (Width is not null)
			builder.Append(Width.GetCssStyle());
		return builder.ToString().Trim();
	}
}
