@namespace Uwn.Razor.Demo.Components.Shared.Rows
@typeparam TEnum where TEnum : struct, Enum

<tr>
	<th scope="row">@Label</th>
	<td><NavLink Href="@EnumRoute">@typeof(TEnum).Name</NavLink></td>
	<td>@Description</td>
	<td></td>
	<td>
		<InputSelect class="form-select w-8"
					 Value="@Value"
					 ValueChanged="ValueChanged"
					 ValueExpression="@(() => Value)">
			@foreach (var enumValue in Enum.GetValues<TEnum>())
			{
				<option value="@enumValue">@enumValue</option>
			}
		</InputSelect>
	</td>
</tr>

@code {
	[Parameter] public string Label { get; set; } = string.Empty;
	[Parameter] public string Description { get; set; } = string.Empty;
	[Parameter] public TEnum Value { get; set; }
	[Parameter] public EventCallback<TEnum> ValueChanged { get; set; }

	private string EnumRoute => RouteStrings.DetermineRoute<TEnum>();
}