@namespace Uwn.Razor.Demo.Components.Shared.Rows

<tr>
	<th scope="row">@Label</th>
	<td><code>string</code></td>
	<td>@Description</td>
	<td></td>
	<td>
		<InputText class="form-control w-8"
				   Value="@Value"
				   ValueChanged="@(v=>ValueChanged.InvokeAsync(v))"
				   ValueExpression="@(()=>Value)" />
	</td>
</tr>

@code {
	[Parameter] public string Label { get; set; } = string.Empty;
	[Parameter] public string Description { get; set; } = string.Empty;
	[Parameter] public string? Value { get; set; }
	[Parameter] public EventCallback<string?> ValueChanged { get; set; }
}